header{
    width: 100%;
  height: 20vh;
  background-color: #444444;
}

body{
    /* margin: 0; */
    background-color: lightgray;
    width: 100%;
    height: 100vh;
}

main{
    background-color: white;
    margin: 0 auto;
    width: 75%;
    height: 70vh; /* once I added the height it showed up on the page.*/
}

footer{
    background-color: black;
    width: 75%;
    margin: 0 auto; /*margin auto is neccesary*/
    height: 10vh;/*once you add both width and height then something happens on the page*/
}

